[Unit]
Description=Pool Controller Nodejs Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=3
User=eric
ExecStart=/usr/bin/node /home/eric/PoolControl/controller/src

[Install]
WantedBy=multi-user.target
